<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Veteran's Day Lab Playtime</title>
	<script src="/scripts/angular.min.js"></script>
	<script src="/scripts/angular-resource.min.js"></script>
	<script src="/scripts/images-loaded.js"></script>
	<script src="/scripts/masonry.pkgd.min.js"></script>
	<script src="/scripts/gallery.js"></script>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/styles.css">
</head>